/*

@media only screen and (max-width : 767px) {

}
*/

@media only screen and (max-width : 991px){
	.navbar-brand .logo {
	    width: 110px;
	    height: auto;
	}
	
	
	.navbar-brand span {
	    font-size: 12px;
	    color: #005a84;
	    font-family: 'poppinsmedium';
	}
	
	.navbar-nav{
		margin: 0px auto;
	}

	.wrapper-intro {
		height: auto;
	}

	.wrapper-intro .content {
		position: revert;
		bottom: 120px;
		margin: auto;
		left: 0px;
		right: 0px;
	}

	.wrapper-intro .content h1 {
	    font-size: 50px;
		margin-top: 50px;
	}

	.imgsolemur {
		width: 50%;
		height: auto;
	}

	.wrapper-slide span {
	    font-size: 30px;
	}

	.nav-top .navbar{
		display: none;
	}
	

	.token {
	    height: auto;
	}

	.imgaboutsol{
		width: 50%;;
	}

	.wrapper-about h2, .wrapper-roapmap h2, .wrapper-tokenomics h2{
		font-size: 30px;
	}

	.token h3 {
		font-size:20px;
	}


}

@media only screen and (max-width : 767px) {
	
	.wrapper-intro {
	    height: auto;
	    width: auto;
	    background-color: #fff;
	}

	.wrapper-intro .content {
	    position: revert;
	    bottom: 100px;
	    margin: auto;
	    left: 0px;
	    right: 0px;
	}

	.wrapper-slide {
	    height: auto;
	    width: auto;
	    background-color: #185617;
	}

	.partners {
	    width: 100%;
	}

	
}


@media (max-height: 1100px ){
    .wrapper-intro .content h1 {
	    margin-top:0px;
	}

	.wrapper-intro .content {
	    bottom: 70px;
	}

	.navbar {
		padding: 0px;
	}

	.imgsolemur {
		width: 70%;
		height: auto;
	}

	.m-scroll{
		margin-top: 0px;
	}


}


@media (max-height: 700px ){
    .wrapper-intro .content h1 {
	    margin-top:0px;
	    letter-spacing: 4px;
	    color: #fff;
	    font-size: 60px;
	}



	.wrapper-intro .content {
	    bottom: 30px;
	}

	.navbar {
		padding: 0px;
	}

	.imgsollemu{
	    width: 80%;
	    height: auto;
	}

	.wrapper-slide p {
		font-size: 30px;
	}


}



