/*others*/
html, body {
  height: 100%;
  margin: 0;
}

html {scroll-behavior: smooth;}
      
body{color:#2E384D; font-family: 'poppinsregular';}
p{color:#2E384D;font-size: 14px;margin-bottom:10px;letter-spacing: 2px;}

img{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}


.poppinsbold{font-family: 'poppinsbold';}
.poppinsreg{font-family: 'poppinsregular';}
.poppinsmed{font-family: 'poppinsmedium';}

.fullHeight{
	height: 100%;
}

/* Colors */
.bg-white {
    background: #fff!important;
}

.bg-black {
    background: #000000!important;
}


/* Button Color */

.btn {
    
    padding: 15PX 30PX;
    font-size: 18PX;
    border-radius: 50PX;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary:hover {
    color: #fff;
    background-color: #007ba9;
    border-color: #007ba9;
}


.btn-primary {
    color: #fff;
    background-color: #00aef0;
    border: 3px solid #0ebdff;
}


.btn-secondary {
    color: #fff;
    background-color: #005200;
    border-color: #006e01;
}



/* nav-top */


.navbar-nav { 
    margin-left: auto; 
} 

.nav-top ul{
	width: fit-content;
}

.navbar-brand .logo{
  width: 80px;
  height: auto;
}

.navbar-brand span{
  font-size: 15px;
  color: #005a84;
  font-family: 'poppinsbold';
}

.nav-top .navbar-dark .navbar-nav .nav-link {
    color: #47a046;
    padding: .5em 1rem;
    font-family: 'poppinsbold';
    text-transform: uppercase;
    font-size: 18px;
}

/*.nav-top .navbar-dark .navbar-nav .nav-link:hover {

    font-size: 28px;
}*/

.nav-top .navbar-nav > .nav-item.active > a {
    color: rgb(0 174 240);
    padding: .5em 2.5rem;
}

.nav-top .nav-item{
	margin: 0px 10px;
	
}

.nav-top .nav-item.active {
    background-color: transparent;
    border-radius: 50px;
}

.nav-top .navbar-collapse {
    align-items: center;
    width: 100%;
}

.nav-top .navbar-nav {
    margin: 0px auto;
}

.nav-top .navbar{
	border-radius: 50px;
}


/* Lpage */

.wrapper-intro{
    height: 90vh;
    width: auto;
    background-color: #fff;
    
}


.imgsolemur{
    width: 100%;
    height: auto;
}

.wrapper-intro .ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.wrapper-intro .ftco-footer-social li a i {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.wrapper-intro .ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    background: rgb(0 174 240);
    border-radius: 50%;
    position: relative;
    color: #FFF;

}


.wrapper-intro .content{
    position: absolute;bottom: 120px;
    margin: auto;
    left: 0px;
    right: 0px;

}

.wrapper-intro .content h1{
    font-family: 'poppinsmedium';
    color: #fff;
    font-size: 65px;
    text-shadow: 5px 5px #112519;
    margin-top:-50px;
    line-height: 1;
    margin-bottom: 30px;
}

.wrapper-intro .content p{
    color: #fff;
    font-size: 18px;
}


/* Spage */

.wrapper-slide{
    height: 10vh;
    width: auto;
    background-color: #185617;
    
}

.wrapper-slide h2{
    font-weight: 900;
    font-family: 'poppinsbold';
    color: #fff;
    font-size: 50px;
    margin-bottom: 0px;
    
}

.scroll {
     position: relative;
     width: 100%;
     height: 10vh;
     /* min-height: 150px; */
     overflow: hidden;
     z-index: 1;
     margin: 0;
     padding: 15px;
     background: rgb(0,174,240);
     background: radial-gradient(circle, rgba(0,174,240,1) 0%, rgba(0,45,0,1) 83%);
}

.m-scroll {
  overflow_ hidden;
  height: 100%;
  white-space: nowrap;
  animation: scrollText 10s infinite linear;
  margin-top: 15px;
  font-size: 0;
  display: inline-block;
}

.wrapper-slide p {

  font-family: 'poppinsmedium';
    color: #fff;
    font-size: 50px;
  display: inline-block;
  min-width: 100vh;
  margin: 0;
  padding: 0;
}

.slogo{
    width: 50px;
    height: auto;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}


/* Apage */

.wrapper-about{
    height: auto;
    width: auto;
    background-color: #010800;
    
}

.imgaboutsol{
    width: 100%;
    height: auto;
}

.wrapper-about h2{
    font-family: 'poppinsmedium';
    color: #00aef0;
    font-size: 50px;
    margin-bottom: 0px;
    
}

.wrapper-about p{
    color: #c7c7c7;
    
}

.wrapper-wrap-content{
    height: auto;
    width: 100%;
}

/* Rpage */

.wrapper-roapmap{
    height: auto;
    width: auto;
    background-color: transparent;
    
}

.wrapper-roapmap h2{
    font-family: 'poppinsmedium';
    color:#fff;
    font-size: 50px;
    margin-bottom: 0px;
    
}


.wrapper-roapmap ul li{
    list-style: none;
}


.rmap{
    background-color: #010800;
    border-radius: 20px;
    min-height: 300px;
    border: 4px solid #041e03;
}

.rmap h3{
    margin-bottom: 20px;
    color: #00aef0;
    margin-top: 0px;
    
}

.rmap p{
    color: #c7c7c7;
}


.media-body h2{
    font-family: 'poppinsmedium';
    color: #ff9800;
    font-size: 30px;
    margin-bottom: 0px;
    
}

.media-body h2{
    font-family: 'poppinsmedium';
    color: #ff9800;
    font-size: 30px;
    margin-bottom: 0px;
    
}

.pend{
    text-align: right;
}


.one img{
    width: 180px;
    height: auto;
    margin-top: 20px;
    border: white;
}

.two img{
    width: 180px;
    height: auto;
    margin-top: 20px;

}

.three img{
    width: 180px;
    height: auto;
    margin-top: 20px;
}

.four img{
    width: 180px;
    height: auto;
    margin-top: 20px;
    
}

.five img{
    width: 180px;
    height: auto;
    margin-top: 20px;
    
}

.branch{
    display: block;
}






/* Ppage */

.wrapper-partners{
    height: auto;
    width: auto;
    background-color: transparent;
    
}

.wrapper-partners h2{
    font-family: 'poppinsmedium';
    color: #185617;
    font-size: 50px;
    margin-bottom: 0px;
    
}

.partners{
    background-color: #fff;
    border: 4px solid #a67437;
    height: 150px;
    border-radius: 20px;
    width: 250px;
}

.partners img{
    width: 100px;
}

/* tpage */

.wrapper-tokenomics{
    height: auto;
    width: auto;
    background-color: transparent;
    
}

.wrapper-tokenomics h2{
    font-family: 'poppinsmedium';
    color: #fff;
    font-size: 50px;
    margin-bottom: 0px;
    
}


.token{
    background-color: #ffffff47;
    /*border: 4px solid #ffffff;*/
    height: auto;
    min-height: 150px;
    border-radius: 20px;
}

.token h3{
    font-family: 'poppinsmedium';
    color: rgb(1 8 0);
    font-size: 30px;
}

.token p{
    color: rgb(1 8 0);
}





/* Footer */
.footer-sec {
    background: transparent;
}

.sollemuimg{
    width: 200px;
    height: auto;
}

.footer-sec h3{
    font-family: 'poppinsmedium';
    color: #fff;
    /*text-shadow: 2px 2px #112519;*/
}

.footer-sec h2{
    font-family: 'poppinsmedium';
    /*text-shadow: 2px 2px #112519;*/
    color: #fff;
    text-shadow: 2px 2px #112519;}

.footer-sec p{
    color: #fff;
    /*text-shadow: 2px 2px #112519;*/

}


.footer-sec .ftco-footer-widget ul li a i {
    color: #fff;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.ftco-footer-social li a i {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    background: rgb(0 174 240);
    border-radius: 50%;
    position: relative;
}

.footer-sec iframe{
	width: 100%;
	height: 300px;
	
}


